* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.landing {
  background-color: orange;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;
  height: 100vh;
  border-bottom: solid orange;
}
.landing h1 {
  margin-top: 40vh;
  color: black;
  margin: 0% 30% 0% 30%;
  transition: 2s;
}

.landing a {
  background-color: black;
  border-radius: 10px;
  border: none;
  color: orange;
  font-weight: 900;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2% 30% 5% 30%;
  cursor: pointer;
}

.landing a span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.landing a span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.landing a:hover span {
  padding-right: 20px;
}

.landing a:hover span:after {
  opacity: 1;
  right: 0;
}

.game-container {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid orange;
}

.game {
  padding-top: 2.5%;
}

.game-text {
  color: orange;
  width: 20%;
  padding-right: 2%;
}

.game-container a {
  background-color: orange;
  border-radius: 10px;
  border: none;
  color: black;
  font-weight: 900;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: fit-content;
  margin: 2% 2% 2% 2%;
}

.game-container a span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.game-container a span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.game-container a:hover span {
  padding-right: 25px;
}

.game-container a:hover span:after {
  opacity: 1;
  right: 0;
}

.creator-container {
  background-color: orange;
  height: 100vh;
}

.creator-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.creator-content-text {
  width: 30%;
}

.creator-content a {
  background-color: black;
  border-radius: 10px;
  border: none;
  color: orange;
  font-weight: 900;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: fit-content;
  margin: 1% 2% 1% 2%;
}

.creator-content a span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.creator-content a span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.creator-content a:hover span {
  padding-right: 25px;
}

.creator-content a:hover span:after {
  opacity: 1;
  right: 0;
}
